{%extends "base.html"%}
{% load crispy_forms_tags %}
{% block title %}Booking{% endblock %}

{% block content %}
    <h1 class="text-center">Make An Appointment</h1>
    <hr>
    <div class="container text-center bg-light w-50 p-3 my-5 bg-info">
        <h1>Book Your Appointment</h1>
        <p>Fill the form below to book your appointment</p>
    <form action=""method="POST">{% csrf_token%}
        {% csrf_token %}
        {{ form |crispy}}
        <br>

        <button class="btn btn-primary" type="submit">Submit</button>
    
    </form>
    </div>
{% endblock %}